body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  margin-top: 10px;
}

form {
  padding: 5px;
}


.header {
  background-color: #007acc;
  color: #fff;
  border-radius: 10px;
}

.data {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.container {
  max-width: 800px;
}

.required:after {
  content:" *";
  color: red;
}

.indicates {
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
}

.indicates:before {
  content:"* ";
  color: red;
}
