body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  margin-top: 10px;
}

form {
  padding: 5px;
}

.container {
  max-width: 800px;
}

.header {
  background-color: grey;
  color: #fff;
}

.required:after {
  content:" *";
  color: red;
}

.indicates {
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
}

.indicates:before {
  content:"* ";
  color: red;
}
